<div class="row wiki-list">
  <div class="col-md-8">
    <% wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to (markdown_to_html wiki.title), wiki %>
          </h4>
          <% if wiki.private %>
            <small>
             <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> private<br>
             <%= markdown_to_html wiki.body %>
            </small>
          <% else %>
            <small>
              <%= markdown_to_html wiki.body %>
            </small>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>